<div>
    <h1>Reservas</h1>
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Numero</th>
          <th scope="col">Quarto</th>
          <th scope="col">Cliente</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let reserva of reservas;">
          <td>{{ reserva.numero }}</td>
          <td>{{ reserva.quarto.numero }}</td>
          <td>{{ reserva.cliente.nome }}</td>
          <td><button id="edit-button" (click)="onEdit(reserva.id!)">Editar</button></td>
          <td><a (click)="onDelete(reserva)"><button id="delete-button">Excluir</button></a></td>
        </tr>
        </tbody>
      </table>
</div>