<div>
    <h1>Funcionarios</h1>
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Cpf</th>
          <th scope="col">Cadastrado em</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let funcionario of funcionarios;">
          <td>{{funcionario.nome}}</td>
          <td>{{ funcionario.cpf }}</td>
          <td>{{funcionario.criadoEm}}</td>
          <td><button (click)="onEdit(funcionario.id!)">Editar</button></td>
          <td><a (click)="onDelete(funcionario)"><button>Excluir</button></a></td>
        </tr>
        </tbody>
      </table>
</div>