<form class="needs-validation" novalidate [formGroup]="form">
  <div id="card">
    <h1>Cadastro - Reserva</h1>
    <div class="col-md-12">
      <label for="numero" class="form-label">Numero</label>
      <input
        type="text"
        class="form-control"
        id="numero"
        formControlName="numero"
        [ngClass]="{ 'is-invalid': submitted && hasError('numero') }"
        required
      />
      <div
        class="invalid-feedback"
        *ngIf="hasError('numero') && hasError('numero')!['required']"
      >
        Por favor informe um numero para o quarto
      </div>
    </div>
    <div class="col-md-12">
      <label for="quarto" class="form-label">Quarto</label>
      <select
        [compareWith]="compareQuarto"
        formControlName="quarto"
        class="form-control"
        id="quarto"
        required
      >
        <option *ngFor="let quarto of quartos" [ngValue]="quarto">
          {{ quarto.numero }}
        </option>
      </select>
      <div
        class="invalid-feedback"
        *ngIf="hasError('quarto') && hasError('quarto')!['required']"
      >
        Por favor informe um numero para o quarto
      </div>
    </div>
    <div class="col-md-12">
      <label for="cliente" class="form-label">Cliente</label>
      <select
        [compareWith]="compareCliente"
        formControlName="cliente"
        class="form-control"
        id="cliente"
        required
      >
        <option *ngFor="let cliente of clientes" [ngValue]="cliente">
          {{ cliente.nome }}
        </option>
      </select>
      <div
        class="invalid-feedback"
        *ngIf="hasError('cliente') && hasError('cliente')!['required']"
      >
        Por favor informe um numero para o cliente
      </div>
    </div>
    <div class="col-md-12">
      <label for="inicio" class="form-label">Inicio</label>
      <input
        type="datetime-local"
        class="form-control"
        id="inicio"
        formControlName="inicio"
        (change)="changeInicio($event)"
        [ngClass]="{ 'is-invalid': submitted && hasError('inicio') }"
        required
      />
      <div
        class="invalid-feedback"
        *ngIf="hasError('inicio') && hasError('inicio')!['required']"
      >
        Por favor informe uma data de inicio
      </div>
    </div>
    <div class="col-md-12">
      <label for="fim" class="form-label">Fim</label>
      <input
        type="datetime-local"
        class="form-control"
        id="fim"
        formControlName="fim"
        (change)="changeFim($event)"
        [ngClass]="{ 'is-invalid': submitted && hasError('fim') }"
        required
      />
      <div
        class="invalid-feedback"
        *ngIf="hasError('fim') && hasError('fim')!['required']"
      >
        Por favor informe uma data de fim
      </div>
    </div>
    <div class="col-md-12">
      <div
        class="text-danger"
        *ngIf="hasMessage()"
      >
        {{message}}
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      (click)="onSubmit()"
      style="margin-top: 30px"
    >
      Salvar
    </button>
    <button type="submit" class="btn btn-default" (click)="onCancel()">
      Cancelar
    </button>
  </div>
</form>
