<form class="needs-validation" novalidate [formGroup]="form">
  <div id="card">
    <h1>Cadastro - Quarto</h1>
    <div class="col-md-12">
      <label for="numero" class="form-label">Numero</label>
      <input
        type="text"
        class="form-control"
        id="numero"
        formControlName="numero"
        [ngClass]="{ 'is-invalid': submitted && hasError('numero') }"
        required
      />
      <div class="invalid-feedback" *ngIf="hasError('numero') && hasError('numero')!['required']">
          Por favor informe um numero para o quarto
      </div>
    </div>
    <div class="col-md-12">
      <label for="precoDiaria" class="form-label">Preço Diaria</label>
      <input
        type="number"
        class="form-control"
        id="precoDiaria"
        formControlName="precoDiaria"
        [ngClass]="{ 'is-invalid': submitted && hasError('precoDiaria') }"
        required
      />
      <div class="invalid-feedback" *ngIf="hasError('precoDiaria') && hasError('precoDiaria')!['required']">
        Por favor informe um preço de fiária para o quarto
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()" style="margin-top: 30px;">
      Salvar
    </button>
    <button type="submit" class="btn btn-default" (click)="onCancel()">
      Cancelar
    </button>
  </div>
</form>
