<nav>
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Cliente</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Cadastrar</button>
        <button ngbDropdownItem>Listar</button>
        </div>
    </div>
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Quarto</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Cadastrar</button>
        <button ngbDropdownItem>Listar</button>
        </div>
    </div>
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Funcionario</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem routerLink="funcionario/cadastro">Cadastrar</button>
        <button ngbDropdownItem>Listar</button>
        </div>
    </div>
</nav>