<div>
    <h1>Clientes</h1>
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cliente of clientes;">
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.cpf | mask: '000.000.000-00'}}</td>
          <td><button id="edit-button" (click)="onEdit(cliente.id!)">Editar</button></td>
          <td><a (click)="onDelete(cliente)"><button id="delete-button">Excluir</button></a></td>
        </tr>
        </tbody>
      </table>
</div>